@model WebApplicationOdontoPrev.ViewModels.PacienteHomeViewModel

@{
    ViewBag.Title = "Check-in-Home";
}
<div class="container d-flex flex-column align-items-center mt-5">
    <div class="saudacao text-center mb-4">
        <p class="display-6">Olá, @Model.NmPaciente</p>
        <p>Plano: @Model.NmPlano</p>
        <p>Você tem <strong>@Model.TotalPontos pontos</p>
    </div>
    <div class="text-center mb-4">
        <h2 class="text-primary mb-4">Faça o seu check-in diário e aproveite o nosso programa de pontos!</h2>

        <button type="button" class="btn btn-primary w-100 mb-5" onclick="location.href='@Url.Action("Pergunta","CheckIn")'">
            Fazer Check-In Diário!
        </button>
    </div>
    <nav class="navegacao-user text-center mt-4">
        <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="location.href='@Url.Action("ExtratoPontos","ExtratoPontos")'">
            Extrato de Pontos
        </button>
        </button>
        <button type="button" class="btn btn-success btn-lg rounded-pill" onclick="location.href='@Url.Action("HistoricoCheckIns","HistoricoCheckIns")'">
            Histórico de Check-Ins
        </button>
        <button type="button" class="btn btn-warning text-white btn-lg rounded-pill" onclick="location.href='@Url.Action("Perfil","Perfil")'">
            Perfil
        </button>
    </nav>
</div>