@model WebApplicationOdontoPrev.ViewModels.PacienteHomeViewModel

@{
    ViewBag.Title = "Check-in-Home";
}
<div class="container">
    <div class="saudacao">
        <p>Olá, @Model.NmPaciente / @Model.IdPaciente</p>
        <p>Plano: @Model.NmPlano</p>
        <p>Você tem @Model.TotalPontos pontos</p>
        <p>Faça o seu check-in diário e aproveite o nosso programa de pontos!</p>
        <button>
            <a asp-action="Pergunta" asp-controller="CheckIn" asp-route-id="@Model.IdPaciente" class="btn btn-primary">Fazer Check-In Diário!</a>
        </button>
    </div>
    <nav class="navegacao-user">
        <button>
            <a asp-action="ExtratoPontos" asp-controller="ExtratoPontos" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Extrato de Pontos</a>
        </button>
        <button>
            <a asp-action="HistoricoCheckIns" asp-controller="HistoricoCheckIns" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Histórico de Check-Ins</a>
        </button>
        <button>
            <a asp-action="Perfil" asp-controller="Perfil" asp-route-id="@Model.IdPaciente" class="btn btn-secondary">Perfil</a>
        </button>
    </nav>    
</div>